smx2/maven/Route-2/src/main/resources/pl/touk/interface/serviceChecker.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:tns="http://touk.pl/serviceChecker" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	name="serviceChecker" targetNamespace="http://touk.pl/serviceChecker"
	xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema targetNamespace="http://touk.pl/serviceChecker">
			<xsd:element name="question">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element type="xsd:integer"  name="key"/>
						<xsd:element type="xsd:string" name="content"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="answer">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element type="xsd:string" name="answer"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
		</xsd:schema>
	</types>

	<message name="question">
		<part element="tns:question" name="parameters" />
	</message>
	<message name="answer">
		<part element="tns:answer" name="parameters" />
	</message>
	<portType name="serviceChecker">
		<operation name="checkState">
			<input message="tns:question" />
			<output message="tns:answer" />
		</operation>
	</portType>

</definitions>
